/* =============
   About{}
   ============= */

.about-container,
.dct-box{
	margin-bottom: 40px;
}

.about-video-frame{
	background-color: rgba(0,0,0,.8);
	padding: 10px;
	margin: 0 auto;
}

.lt-ie9 .about-video-frame{
	background: url("images/general/overlay-black-80.png") repeat transparent;
}

.about-video-frame section{
	position: relative;
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	overflow: hidden;
}

.about-video-frame iframe,
.about-video-frame object,
.about-video-frame embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-video-frame footer{
	text-align: right;
	padding: 10px 0 0;
}

.about-video-frame footer a{
	color: #fff;
}

.about-video-frame footer a:hover{
	padding-right: 10px;
}