/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via inheritizr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

*,
*:before,
*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== inheritizr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/inheritizr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Helvetica Neue', 'Helvetica', 'Open Sans', sans-serif;
	background: url("images/general/bg.png") repeat left top #101011;
	color: #ccc;
    font-weight: 300;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.dct-list{
    margin-left: 20px;
}

.dct-list li{
    background: url("images/general/bullet.png") no-repeat left 5px;
    padding-left: 20px;
    background-size: 12px 12px;
    margin-bottom: 5px;
}

.wrapper {
    width: 96%;
    margin: 0 2%;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
}

b{
	font-weight: 600;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a,
a:link{
	-webkit-transition: all 0.15s ease-in-out 0s;
	-moz-transition: all 0.15s ease-in-out 0s;
	transition: all 0.15s ease-in-out 0s;
}

a, a:link{ text-decoration: none; }

h2 {font-size: 25px;}
h3 {font-size: 20px;}

p{ line-height: 23px;}

*[data-href]{
    cursor: pointer;
}

a[class *="btn"]{
	background-color: #a0090b;
	color: #fff;
	text-align: center;
	padding: 3px 15px 3px 15px;
	display: block;
    clear: both;
}

a.btn-more{
    text-align: left;
    padding: 1px 30px 1px 15px;
	background: url("images/general/arrow-small-right.png") no-repeat right 0 #a0090b;
}

a.btn-large{
    padding: 5px 40px;
    font-size: 20px;
}


.no-touch a[class *="btn"]:hover{
    background-color: #fff;
    color: #a0090b;
}

.no-touch a.btn-more:hover{
    background-position: right -28px;
}


*[class *=" icon-"],
*[class ^="icon-"]{
	padding-left: 30px;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: left center;
}

span[class *=" icon-"],
span[class ^="icon-"]{
    display: inline-block;
}

.icon-steeringwheels{ background-image: url("images/general/icon-steeringwheels-white.png"); }
.icon-interioraccessories{ background-image: url("images/general/icon-interioraccessories-white.png"); }
.icon-exteriorkits{ background-image: url("images/general/icon-exteriorkits-white.png"); }
.icon-products{ background-image: url("images/general/icon-products-white.png"); }
.icon-carbrand{ background-image: url("images/general/icon-carbrand-white.png"); }
.icon-carmake{ background-image: url("images/general/icon-carmake-white.png"); }
.icon-caryear{ background-image: url("images/general/icon-caryear-white.png"); }
.icon-home{ background-image: url("images/general/icon-home-white.png"); }
.icon-tel{ background-image: url("images/general/icon-tel-white.png"); }
.icon-email{ background-image: url("images/general/icon-email-white.png"); }
.icon-facebook{ background-image: url("images/general/icon-facebook-white.png"); }
.icon-twitter{ background-image: url("images/general/icon-twitter-white.png"); }
.icon-youtube{ background-image: url("images/general/icon-youtube-white.png"); }
.icon-instagram{ background-image: url("images/general/icon-instagram-white.png"); }

.icon-fb-colored{ background-image: url("images/general/icon-facebook-colored.png"); }
.icon-tw-colored{ background-image: url("images/general/icon-twitter-colored.png"); }
.icon-gplus-colored{ background-image: url("images/general/icon-google-colored.png"); }


.dct-checkbox{
    border: 3px solid rgba(255,255,255,.2);
    padding: 3px;
    position: absolute;
    top: 50%;
    left: -16px;
    margin-top: -16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s;
    z-index: 10;
}

.lt-ie9 .dct-checkbox{
    padding: 3px;
    background: url("images/general/overlay-white-20.png") repeat transparent;
}

.dct-checkbox span{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #a0090b;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s;
}

.dct-checkbox.checked span{
    background-image: url("images/general/icon-tick-white.png");
}

.no-touch a:hover .dct-checkbox{
    border: 0px;
}

.no-touch a:hover .dct-checkbox.checked span{
    background-image: url("images/general/icon-cross-white.png");
}

.dct-box header a{
    display: none;
}

.brand-list{
    background-color: rgba(0,0,0,.8);
    padding: 15px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.lt-ie9 .brand-list{
    background: url("images/general/overlay-black-80.png") repeat transparent;
}

.brand-list li{
    display: inline-block;
    text-align: center;
    margin: 2% 2.5% 0;
    height: 100px;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.brand-list li a{
    color: #ccc;
}


.brand-list li img{
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s;
}

.brand-list li span{
    display: block;
    position: relative;
    -webkit-transition: all 0.15s ease-in-out 0s;
    -moz-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s;
}

.no-touch .brand-list li a:hover{
    color: #fff;
}

.no-touch .brand-list li a:hover img{
    color: #fff;
    top: -2px;
}

.no-touch .brand-list li a:hover span{
    bottom: -2px;
    opacity: 1;
}

.products-cat-list section{
    cursor: pointer;
}


.products-cat-list figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.lt-ie9 .products-cat-list figcaption{
    background: url("images/general/overlay-black-80.png") repeat transparent;
}

.products-cat-list figcaption span{
    padding-top: 3%;
    padding-bottom: 3%;
    display: inline-block;
    line-height: 24px;
    font-size: 110%;
    color: #fff;
}

.products-cat-list .overlay-box{
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -100%;
    padding: 10px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    text-align: center;
}

.lt-ie9 .products-cat-list .overlay-box{
    background: url("images/general/overlay-black-80.png") repeat transparent;
}

.products-cat-list .overlay-box span[class *="icon-"]{
    display: inline-block;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}

.products-cat-list .overlay-box h4{
    font-size: 18px;
    margin: 5px 0;
    font-weight: 400;
}

.products-cat-list .overlay-box p{
    margin-top: 0;
    font-size: 12px;
    color: #ccc;
    display: none;
    line-height: 18px;
}


.header-container{
	background-color: #000;
	padding: 20px 0;
	position: relative;
}
.header-container hgroup{
	position: absolute;
	left: 50%;
	top: 12px;
	width: 250px;
	margin: 0 0 0 -125px;
	text-align: center;
	z-index: 10;
}

.header-container hgroup > *{
	display: inline-block;
}

.header-container .logo img{
	height: 48px;
}

.inner-page .header-container .logo{
    display: none;
}

.header-container hgroup h1{
    vertical-align: middle;
    line-height: 50px;
    font-size: 30px;
    margin: 0;
}

.header-container hgroup h2{
    margin: 0;
    font-size: 13px;
    line-height: 18px;
}

.result-page .header-container hgroup h1,
.details-page .header-container hgroup h1{
    line-height: 18px;
}

.mobile-header-anchors a{
	width: 32px;
	height: 32px;
	display: block;
}

.no-touch .mobile-header-anchors a:hover{
	opacity: 0.6;
}

.menu-anchor{
	float: left;
	background: url("images/general/icon-menu-white.png") no-repeat;
}

.contact-anchor{
	float: right;
	background: url("images/general/icon-tel-white.png") no-repeat;
}

.filter-anchor{
    float: right;
    background: url("images/general/icon-filter-white.png") no-repeat;
}

.header-container header > aside{display: none;}


.banner-wrapper{
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

.banner-wrapper > img{
    width: 100%;
    height: auto;
}


.banner-wrapper .wrapper {
    position: relative;
}

.banner-wrapper .banner-details{
    background-color: rgba(0,0,0,.8);
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 300px;
    padding: 15px;
}

.lt-ie9 .banner-wrapper .banner-details{
    background: url("images/general/overlay-black-80.png") repeat transparent;
}

.banner-details img{
    max-height: 50px;
    margin-right: 20px;
    float: left;
}

.banner-details hgroup{
    float: left;
}

.banner-details h3,
.banner-details h5{
    margin: 0;
}

.line-title,
.dct-content > .line-title{
    display: none;
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.result-box .line-title{
    padding: 15px 0;
}

.line-title:before{
    border-top: 1px solid #444;
    height: 1px;
    width: 100%;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
}

.line-title > *{
    background: url("images/general/bg.png") repeat left top;
    position: relative;
    z-index: 1;
}

.line-title h2,
.line-title h3,
.line-title h4,
.line-title h5{
    padding-right: 20px;
    float: left;
    margin: 0;
}

.line-title .btn-container{
    padding-left: 20px;
}

.line-title h5{
    padding-right: 10px;
}

.line-title .breadcrumb{
    padding-left: 10px;
    float: right;
    font-size: 13px;
    color: #888;
}

.line-title .breadcrumb a{
    color: #fff;
}

.line-title [class *="btn"]{
    float: right;
}

.image-frame{
    border: 5px solid rgba(255,255,255,.2);
    display: block;
    position: relative;
    color: #fff;
    overflow: hidden;
}

.lt-ie9 .image-frame{
    background: url("images/general/overlay-white-20.png") repeat transparent;
}

.image-frame figure{
    overflow: hidden;
    width: 100%;
    position: relative;
}

.image-frame img{
    width: 100%;
    display: block;
}



.lg-screen{display: none}

.default-dropdown{
    background-color: rgba(0,0,0,.8);
    border: 0;
    color: #ccc;
    padding: 10px;
    display: block;
    text-align: left;
    font-size: 14px;
    width: 100%;
}

.lt-ie9 .default-dropdown{
    background: url("images/general/overlay-black-80.png") repeat transparent;
}

.default-dropdown option{
    background-color: #000;
}

.lt-ie9 .default-dropdown [selected ^="selected"]{
    background: none;
}

.footer-container{
    background-color: #000;
    padding: 20px 0;
}

.address-box{
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
}

.address-box .logo{
    margin-bottom: 20px;
    display: inline-block;
}

.address-box .logo img{
    height: 40px;
}

.address-box address{
    font-style: normal;
    font-size: 15px;
    margin-bottom: 10px;
}

.address-box .contact-links{
    margin-bottom: 20px;
}

.address-box .contact-links a{
    background-color: #111;
    width: 47%;
    margin: 0 1%;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    position: relative;
}

.address-box .contact-links a:active{
    top: 1px;
}

.address-box .contact-links a span{
    background-size: 16px 16px;
    padding: 5px 10px 5px 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
}

.address-box .social-links{
    display: block;
    margin-bottom: 20px;
}

.address-box .social-links a{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    margin: 0 10px;
}

.address-box .work-hours li{
    display: inline-block;
    margin: 0 5px;
}


.product-list > div{
    margin-bottom: 15px;
    padding: 0 10px;
}


.product-list .product-price{
    position: absolute;
    right: 0;
    bottom: 5px;
    background-color: #a0090b;
    font-size: 15px;
    padding: 3px 5px;
    color: #fff;
    display: block;
    z-index: 1;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.no-touch .product-list section:hover .product-price{
    bottom: -32px;
}

.product-list figure{
    overflow: hidden;
    width: 100%;
}
.product-list img{
    width: 100%;
}

.product-list .overlay-box{
    position: absolute;
    left: 0;
    bottom: -100%;
	z-index: 10;
    padding: 10px;
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    text-align: center;
}

.lt-ie9 .product-list .overlay-box{
    background: url("images/general/overlay-black-80.png") repeat transparent;
}

.no-touch .products-cat-list section:hover figcaption{
    bottom: -100%;
}

.no-touch .products-cat-list section:hover .overlay-box{
    bottom: 0;
}

.no-touch .product-list section:hover .overlay-box{
    bottom: 0;
}

.product-list .overlay-box .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -59px;
}

.product-list h4 {
    line-height: 20px;
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
}

.product-list .see-more{
    display: block;
}

.product-list .see-more a{
    width: 100%;
}

.product-list .see-more span{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    content: "";
}

.lt-ie9 .product-list .see-more span{
    background: url("images/general/overlay-black-80.png") repeat transparent;
}

.footer-links{
    display: none;
    margin-bottom: 20px;
}

.footer-links section{
    display: inline-table;
    width: 30%;
    margin-right: 2%;
    vertical-align: top;
}

.footer-links section:last-child{
    width: 33%;
    margin-right: 0;
}

.footer-links section h4{
    border-bottom: 1px solid #1e1e1e;
    font-weight: 300;
    margin: 0 0 10px;
}

.footer-links section a{
    font-size: 14px;
    color: #888;
}

.no-touch .footer-links section a:hover,
.footer-links section a.active{
    color: #fff;
    padding-left: 5px;
    border-left: 2px solid #a0090b;
}

.footer-links section [class *=" icon-"],
.footer-links section [class ^="icon-"]{
    background-size: 16px 16px;
    padding-left: 24px;
}

.no-touch .footer-links section [class *=" icon-"]:hover,
.no-touch .footer-links section [class ^="icon-"]:hover,
.footer-links section [class *=" icon-"].active,
.footer-links section [class ^="icon-"].active{
    padding-left: 28px;
    background-position: 5px center;
}

.copyright{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #101010;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.copyright p{
    margin-bottom: 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}


.clearfix:before,
.clearfix:after{
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.clearfix{
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}