/* =============
   Products
   ============= */
   
.cat-row{
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 30px;
	background: url("images/general/splitter.png") no-repeat bottom center transparent;
	background-size: 100% 1px;
	text-align: center;
}

.cat-row:last-child{
	margin-bottom: 0;
	background: none;
}

.cat-row > a{
	display: block;
}

.cat-row aside > header{
	display: inline-block;
	width: 100%;
	margin: 20px 0 0;
}

.cat-row aside > header h2{
	display: inline-block;
	padding: 10px 0 10px 40px;
	margin: 10px 0;
	background-size: 32px 32px;
}

.cat-row aside > header a{
	display: none;
}

.cat-row aside p{
	margin: 0 0 1em;
	line-height: 20px;
}

.thumbs-list{ display: none; }

.product-choose-brand{
	text-align: center;
}

.product-choose-brand > *{
	display: inline-block;
	margin-bottom: 40px;
}

.product-choose-brand h3{
	margin-top: 0;
}

.selected-cats-list li{
	float: left;
	width: 46%;
	padding-left: 2%;
	margin: 0 2% 10px 2%;
}

.selected-cats-list li a{
    position: relative;
    display: block;
    padding: 5px;
    background-color: rgba(0,0,0,.8);
    color: #fff;
}

.lt-ie9 .selected-cats-list li a{
	background: url("images/general/overlay-black-80.png") repeat transparent;
}

.no-touch .selected-cats-list li a:hover{
    background: #000;
}

.selected-cats-list li figure{
	display: none;
}

.selected-cats-list li a h4{
	margin: 5px 0;
	font-size: 16px;
	text-transform: none;
}

.brand-make{
	text-align: center;
}

.brand-make figure{
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	background-color: #000;
}

.brand-make figure > img{
	float: right;
	width: 70%;
}

.brand-make figcaption{
	position: absolute;
	top: 50%;
	width: 30%;
	height: 50%;
	margin-top: -8%;
}

.brand-make figcaption img{
	max-height: 100%;
}

.brand-make figcaption span{
	display: block;
	font-size: 13px;
}

.brand-make-select > section{
	float: left;
	width: 50%;
	padding: 0 1%;
	margin-bottom: 40px;
}

.brand-make-select > section h4{
	margin-bottom: 5px;
}

.filter-products a{
	position: relative;
	display: block;
	opacity: .5;
	padding: 5px 10px;
	margin-bottom: 5px;
	background-color: #000;
	color: #ccc;
}

.filter-products a.checked:before,
.no-touch .filter-products a:hover:before{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 18px;
	height: 18px;
	background: url("images/general/icon-tick-black.png") no-repeat right top #a0090b;
	background-size: 16px 16px;
	border-radius: 50% 50%;
	content: "";
	-webkit-transition: all 0.12s ease-in-out 0s;
	-moz-transition: all 0.12s ease-in-out 0s;
	transition: all 0.12s ease-in-out 0s;
}

.no-touch .filter-products a.checked:hover:before{
	background-image: url("images/general/icon-cross-black.png");
	background-position: center center;
	background-color: #ccc;
}

.no-touch .filter-products a:hover,
.filter-products a.checked{
	opacity: 1;
}

.filter-products a span{
	padding-left: 24px;
	background-size: 16px 16px;
}

.product-list-container{
	margin-bottom: 20px;
}

.side-box .dropdown-container{
	margin-bottom: 5px;
}

.side-box .dropdown-container a{
	padding: 5px 10px;
}

.side-box .dropdown-container img,
.side-box .dropdown-container *[class *="icon-"]{
	display: inline;
	max-width: 16px;
	max-height: 16px;
	background-size: 16px 16px;
}

.side-box .dropdown-container img{
	margin-right: 10px;
}

.side-box .dropdown-container *[class *="icon-"]{
	padding-left: 26px;
}

.side-box *[class *="btn"]{
	display: block;
	margin-top: 20px;
	text-align: center;
}

/* ===============
   Product Details
   =============== */


.product-details-container{
	float: left;
	width: 100%;
	margin-bottom: 50px;
}

.product-details-container hgroup h3{
	margin-bottom: 0;
	font-size: 25px;
	font-weight: 600;
}

.product-details-container hgroup h5{
	margin-top: 0;
	color: #888;
	font-size: 18px;
}

.product-pics figure{
	overflow: hidden;
	padding: 5px;
	margin-bottom: 7px;
	background-color: rgba(255,255,255,.2);
}

.lt-ie9 .product-pics figure{
	background: url("images/general/overlay-white-20.png") repeat transparent;
}

.product-pics figure a{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.product-pics figure a:before{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: url("images/general/icon-plus-big-white.png") no-repeat center center rgba(0,0,0,.8);
    content: "";
    -webkit-transition: all 0.12s ease-in-out 0s;
    -moz-transition: all 0.12s ease-in-out 0s;
    transition: all 0.12s ease-in-out 0s;
}

.no-touch .product-pics figure a:hover:before{
	opacity: 1;
}

.product-pics img{
	width: 100%;
}

.pic-list-container{
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
}

.pic-list{
	overflow: hidden;
	width: 100%;
}

.pic-list li{
	float: left;
	width: 132px;
	margin-bottom: 7px;
}

.pic-list li a{
	display: inline-table;
	overflow: hidden;
	border: 3px solid rgba(255,255,255,.2);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 125px;
	height: 71px;
	background-color: #000;
}

.pic-list li img{
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.15s ease-in-out 0s;
	-moz-transition: all 0.15s ease-in-out 0s;
	transition: all 0.15s ease-in-out 0s;
}

.no-touch .pic-list li a:hover img{
	opacity: .8;
}

.product-details header{
	display: inline-table;
	width: 100%;
	margin-bottom: 15px;
}

.product-details header > div{
	float: left;
	width: 50%;
}

.product-id{
	margin-bottom: 5px;
}

.product-id b{
	color: #fff;
}

.product-details header nav a{
	display: inline-block;
	width: 25px;
	height: 24px;
	padding: 0;
}

a.btn-order{
	float: right;
	padding: 0 !important;
	margin-top: 15px;
	
}

a.btn-order > *{
	display: inline-block;
	padding: 5px 10px;
}

a.btn-order b{
	background-color: #000;
	color: #fff;
	font-weight: normal;
	-webkit-transition: all 0.15s ease-in-out 0s;
	-moz-transition: all 0.15s ease-in-out 0s;
	transition: all 0.15s ease-in-out 0s;
}

.no-touch a.btn-order:hover b{
	padding: 5px 12px;
}

a.btn-order span{
	padding: 5px 10px 5px 30px;
	background: url("images/general/icon-cart-white.png") no-repeat 10px center;
	background-size: 16px 16px;
	-webkit-transition: all 0.15s ease-in-out 0s;
	-moz-transition: all 0.15s ease-in-out 0s;
	transition: all 0.15s ease-in-out 0s;
}

.no-touch a.btn-order:hover span{
	background-image: url("images/general/icon-cart-red.png");
}