/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {

    .sm-screen{ display: none; }

    .lg-screen{ display: block; }

    .hour-box{
        padding: 0 10%;
    }

    .header-container{
        z-index: 100;
        width: 100%;
        height: initial;
        -moz-height: initial;
        opacity: 0.95;
    }
	
	.ie .header-container{
        height: auto;
    }
	
    .header-container hgroup{
        -moz-position: initial;
        position: initial;
        -moz-top: initial;
        top: initial;
        -moz-left: initial;
        left: initial;
        float: left;
        width: 250px;
        margin: 0;
    }
	
	.ie .header-container hgroup{
        position: auto;
        top: auto;
        left: auto;
    }

    .inner-page .header-container .logo{
        display: block;
    }

    .header-container hgroup h1,
    .header-container hgroup h2{
        display: none;
    }

    .mobile-header-anchors{ display: none; }

    .header-container .logo img{ height: 60px; }

    .header-container header > aside{
        display: block;
        float: right;
        text-align: right;
    }

    .header-container .top-section{ margin-bottom: 10px; }

    .header-container .top-section > *{
        display: inline-block;
    }

    .header-container .top-section > a{
        padding-right: 5px;
        font-size: 18px;
        color: #ccc;
    }

    .no-touch .header-container .top-section > a:hover{
        color: #fff;
    }

    .header-container .top-section small{
        font-size: 13px;
    }

    .header-container .social-links a{
        display: inline-block;
        width: 16px;
        height: 16px;
        padding-left: 0;
        margin: 0 3px;
        background-size: 16px 16px;
    }

    .no-touch .header-container .social-links a:hover{
        opacity: 0.5;
    }

    .main-nav li{
        float: left;
        margin-left: 20px;
    }

    .main-nav a{
        padding-bottom: 20px;
        border-bottom: 0;
        color: #ccc;
        text-transform: uppercase;
    }

    .no-touch .main-nav a:hover,
    .main-nav a.active{
        padding-bottom: 5px;
        border-bottom: 2px solid #a0090b;
        color: #fff;
    }

    .main-nav a.icon-home{
        display: block;
        height: 29px;
        padding-bottom: 5px;
        background-position: center top;
        background-size: 24px 24px;
    }

    .slide-details-anchor{ display: none; }

    .slide-details{
        display: block;
        width: 400px;
    }

    .slide-details p{ font-size: 14px; }

    .slide-details .btn-more{ margin-top: 15px; }

    .banner-wrapper{
        margin-bottom: 0;
    }


    .line-title,
    .dct-content > .line-title{
        display: inline-block;
    }


    .dct-box header{
        display: inline-block;
        width: 100%;
        text-align: left;
    }

    .dct-box header h2{ float: left; }

    .dct-box header a{
        display: block;
        float: right;
        margin-top: 20px;
        clear: none;
    }

    .products-cat-list .overlay-box span[class *="icon-"]{
        width: 70px;
        height: 70px;
        background-size: 70px 70px;
    }

    .products-cat-list .overlay-box h4{
        margin: 5px 0 10px;
        font-size: 20px;
        font-weight: 400;
    }

    .product-list h4 {
        font-size: 13px;
        text-align: left;
    }

    .no-touch .product-list section:hover .overlay-box{
        bottom: 0;
    }

    .brand-list li{
        margin: 2% 2% 0;
    }

    .brand-list li.dimmed{
        opacity: .2;
    }

    .brand-list li span{
        bottom: 10px;
        opacity: 0;
    }

    .no-touch .brand-list li a:hover img{
        top: -5px;
        color: #fff;
    }

    .no-touch .brand-list li a:hover span{
        bottom: 2px;
        opacity: 1;
    }
	
	.testimonial-list section{
		-moz-top: initial;
        top: initial;
		-moz-margin-bottom: initial;
        margin-bottom: initial;
	}
	
	.ie .testimonial-list section{
		top: auto;
		margin-bottom: auto;
	}

    .footer-links{ display: block; }

    .address-box .social-links{ display: none; }

    .address-box .contact-links a span {
        padding: 5px 10px 5px 30px;
        background-size: 24px 24px;
    }

    .copyright .right{ float: right; }

    .copyright .left{ float: left; }

    .testimonial-list > div{ padding-top: 0; }
	
    .testimonial-list section{
        position: relative;
        -moz-top: initial;
        top: initial;
        padding-left: 70px;
        -moz-margin-bottom: initial;
        margin-bottom: initial;
        text-align: left;
    }
	
	.ie .testimonial-list section{
        top: auto;
        margin-bottom: auto;
    }

    .testimonial-list .even-box section{
        padding-right: 70px;
        padding-left: 0;
    }

    .testimonial-list figure{
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 0;
        width: 120px;
        height: 120px;
        margin-top: -60px;
    }

    .testimonial-list .even-box figure{
        right: 0;
        -moz-left: initial;
        left: initial;
    }
	
	.ie .testimonial-list .even-box figure{
        left: auto;
    }

    .testimonial-list aside {
        position: relative;
        -moz-top: initial;
        top: initial;
        height: 200px;
        padding: 20px 20px 20px 75px;
    }
	
	.ie .testimonial-list aside {
        top: auto;
    }

    .testimonial-list .even-box aside {
        padding: 20px 75px 20px 20px;
    }

    .testimonial-list time {
        display: inline;
        margin-left: 15px;
    }

    /* ====================
        Products Page
    ====================*/

   .cat-row{
        text-align: left;
    }

    .cat-row > a{
        padding-left: 0;
    }

    .cat-row aside > header h2{
        display: inline;
        float: left;
        margin: 0;
        font-size: 20px;
    }

    .cat-row aside > header a{
        display: block;
        float: right;
        margin-top: 10px;
    }

    .cat-row aside > footer a{
        display: none;
    }

    .thumbs-list{display: block;}

    .thumbs-list li{
        float: left;
        width: 24%;
        margin-right: 1%;
        text-align: center;
    }

    .thumbs-list a{
        position: relative;
        display: inline-block;
    }

    .thumbs-list img{
        width: 100%;
    }

    .thumbs-list a:before{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: url("images/general/icon-plus-white.png") no-repeat center center rgba(0,0,0,.8);
        -webkit-transition: all 0.12s ease-in-out 0s;
        -moz-transition: all 0.12s ease-in-out 0s;
        transition: all 0.12s ease-in-out 0s;
    }

    .lt-ie9 .thumbs-list a:before{
        background: url("images/general/overlay-black-80.png") repeat transparent;
    }

    .no-touch .thumbs-list a:hover:before{
        opacity: 1;
    }

    .product-choose-brand h3{
        text-align: left;
    }

    .brand-make figcaption{
        margin-top: -6%;
    }


    .brand-make figcaption img{
        max-width: 80%;
        max-height: 80%;
    }

    .brand-make figcaption span{
        padding-top: 10px;
        font-size: 18px;
    }

    .dropdown-container{
        position: relative;
        width: 100%;
    }

    .dropdown-container > a{
        display: block;
        padding: 5px 10px;
        background: url("images/general/arrow-down-gray.png") no-repeat right center rgba(0,0,0,.8);
        background-origin: content-box;
        color: #ccc;
        font-size: 14px;
        text-align: left;
    }

    .lt-ie9 .dropdown-container > a{
        background: url("images/general/overlay-black-80.png") repeat transparent;
    }


    .no-touch .dropdown-container > a:hover{
        background-color: #000;
        color: #fff;
    }

    .dropdown-container > ul{
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        display: none;
        width: 200%;
        padding: 5px;
        background-color: #000;
        font-size: 14px;
        text-align: left;
    }

    .dropdown-container > ul.opened{
        display: block;
    }

    .dropdown-container.right-aligned > ul{
        right: 0;
        -moz-left: initial;
        left: initial;
    }
	
	.ie .dropdown-container.right-aligned > ul{
        left: auto;
    }

    .dropdown-container > ul li{
        float: left;
        width: 33.333333333%;
    }

    .dropdown-container > ul a{
        display: block;
        padding: 5px;
        color: #ccc;
    }

    .no-touch .dropdown-container > ul a:hover{
        background-color: #a0090b;
        color: #fff;
    }

    .brand-make-select > section h4{
        text-align: left;
    }

    .filter-col > *{
        margin-bottom: 18px;
    }

    .filter-col .line-title{
        padding: 12px 0;
    }

    .filter-col .line-title [class *=" icon-"],
    .filter-col .line-title [class ^="icon-"]{
        background-size: 24px 24px;
    }

    .pic-list li{
        width: 138px;
    }


    /*=======================
      Contact
    ========================*/

    .fri-sat .hour-tooltip{
        -moz-bottom: initial;
        bottom: initial;
    }
	
	.ie .fri-sat .hour-tooltip{
        bottom: auto;
    }

    .fri-sat .hour-tooltip:before{
        -moz-top: initial;
        top: initial;
        bottom: -6px;
        border-color: #a0090b transparent transparent transparent;
    }
	
	.ie .fri-sat .hour-tooltip:before{
        top: auto;
    }

}

@media only screen and (min-width: 992px) {

	.footer-links section{ float: left; }

    .address-box address,
    .address-box .contact-links a{ font-size: 12px; }

    a[class *="btn"]{
        display: inline-block;
        clear: none;
    }

    /* ====================
        Products Page
    ====================*/

    .cat-row aside > header{
        margin: 0;
    }

    .cat-list-col{
        border-right: 1px solid #444;
    }

    .selected-cats-list li{
        float: none;
        width: 80%;
        padding: 10px;
        margin: 0 auto;
    }

    .selected-cats-list li figure{
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
    }

    .selected-cats-list li img{
        display: block;
        width: 100%;
    }

    .dct-checkbox{
        left: -20px;
        margin-top: -20px;
        width: 40px;
        height: 40px;
    }

    .products-cat-list .overlay-box p{
        display: block;
    }
}

@media only screen and (min-width: 1200px) {

	.wrapper{
		width: 1170px;
		margin: 0 auto;
	}

    .products-cat-list .overlay-box span[class *=" icon-"],
    .products-cat-list .overlay-box span[class ^="icon-"]{
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
    }

    .products-cat-list .overlay-box h4{
        margin: 5px 0;
    }

    .products-cat-list .overlay-box p{
        display: block;
    }

}