<div class="footer-container clearfix">
            <footer class="wrapper">
                <div class="footer-links col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <section>
                        <h4><b>Pages</b></h4>
                        <ul>
                            <li><a href="<!--{$SiteData.urls.site.homepage}-->" class="icon-home <!--{if $action eq "homepage"}-->active<!--{/if}-->">Homepage</a></li>
                            <li><a href="<!--{$SiteData.urls.site.products}-->" <!--{if $action eq "products"}-->class="active"<!--{/if}-->>Products</a></li>
                            <li><a href="<!--{$SiteData.urls.site.about}-->" <!--{if $action eq "about"}-->class="active"<!--{/if}-->>About</a></li>
                            <li><a href="<!--{$SiteData.urls.site.contact}-->" <!--{if $action eq "contact"}-->class="active"<!--{/if}-->>Contact Us</a></li>
                            <li><a href="<!--{$SiteData.urls.site.faq}-->" <!--{if $action eq "faq"}-->class="active"<!--{/if}-->>FAQ</a></li>
                        </ul>
                    </section>
                    <section>
                        <h4><b>Products</b></h4>
                        <ul>
                            <li><a href="<!--{$SiteData.urls.site.products}-->#steering-wheels" class="icon-steeringwheels">Steering Wheels</a></li>
                            <li><a href="<!--{$SiteData.urls.site.products}-->#interior-accessories" class="icon-interioraccessories">Interior Accessories</a></li>
                            <li><a href="<!--{$SiteData.urls.site.products}-->#exterior-kits" class="icon-exteriorkits">Exterior Kits</a></li>
                        </ul>
                    </section>
                    <section>
                        <h4><b>Connect</b> us</h4>
                        <ul>
                            <li><a href="<!--{$SiteData.urls.external.facebook}-->" class="icon-facebook">Facebook</a></li>
                            <li><a href="<!--{$SiteData.urls.external.twitter}-->" class="icon-twitter">Twitter</a></li>
                            <li><a href="<!--{$SiteData.urls.external.youtube}-->" class="icon-youtube">YouTube</a></li>
                            <li><a href="<!--{$SiteData.urls.external.instagram}-->" class="icon-instagram">Instagram</a></li>
                        </ul>
                    </section>
                </div>
                <div class="address-box col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <a href="#" class="logo"><img src="style/images/general/logo-dctms.png" alt="DCT Motor Sports" /></a>
                    <address>500 Laurelwood RD. Ste 16, Santa Clara, CA 95054</address>
                    <nav class="contact-links">
                        <a href="#"><span class="icon-email">sales@dctms.com</span></a>
                        <a href="tel:<!--{$SiteData.urls.globalUrl.tel_number}-->"><span class="icon-tel"><!--{$SiteData.urls.globalUrl.tel_number}--></span></a>
                    </nav>
                    <nav class="social-links">
                        <a href="<!--{$SiteData.urls.external.facebook}-->" class="icon-facebook"></a>
                        <a href="<!--{$SiteData.urls.external.twitter}-->" class="icon-twitter"></a>
                        <a href="<!--{$SiteData.urls.external.youtube}-->" class="icon-youtube"></a>
                        <a href="<!--{$SiteData.urls.external.instagram}-->" class="icon-instagram"></a>
                    </nav>
                    <ul class="work-hours">
                        <li>Mon-Fri: 11:00AM-6:00PM</li>
                        <li>Sat: 1:00PM-5:00PM</li>
                        <li>Sun: CLOSED</li>
                    </ul>
                </div>
                <div class="copyright">
                    <p class="left">&copy;2013 - All Rights Reserved for DCT Motor Sports.</p>
                    <p class="right">Designed By <a href="<!--{$SiteData.urls.external.mexoinc}-->"><img src="<!--{$imagePath}-->general/logo-mexo.png" alt="Mexo Inc" /></a></p>
                </div>
            </footer>
        </div>