/* =============
   Products
   ============= */
   
.cat-row{
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 30px;
	background: url("images/general/splitter.png") no-repeat bottom center transparent;
	background-size: 100% 1px;
	text-align: center;
}

.cat-row:last-child{
	background: none;
	margin-bottom: 0;
}

.cat-row > a{
	display: block;
}

.cat-row aside > header{
	display: inline-block;
	width: 100%;
	margin: 20px 0 0;
}

.cat-row aside > header h2{
	margin: 10px 0;
	display: inline-block;
	background-size: 32px 32px;
	padding: 10px 0 10px 40px;
}

.cat-row aside > header a{
	display: none;
}

.cat-row aside p{
	margin: 0 0 1em;
	line-height: 20px;
}

.thumbs-list{display: none;}

.product-choose-brand{
	text-align: center;
}

.product-choose-brand > *{
	margin-bottom: 40px;
	display: inline-block;
}

.product-choose-brand h3{
	margin-top: 0;
}

.selected-cats-list li{
	float: left;
	width: 46%;
	margin: 0 2% 10px 2%;
	padding-left: 2%;
}

.selected-cats-list li a{
    background-color: rgba(0,0,0,.8);
    display: block;
    position: relative;
    color: #fff;
    padding: 5px;
}

.lt-ie9 .selected-cats-list li a{
	background: url("images/general/overlay-black-80.png") repeat transparent;
}

.no-touch .selected-cats-list li a:hover,
.no-js .selected-cats-list li a:hover{
    background: #000;
}

.selected-cats-list li figure{
	display: none;
}

.selected-cats-list li a h4{
	margin: 5px 0;
	font-size: 16px;
	text-transform: none;
}

.brand-make{
	text-align: center;
}

.brand-make figure{
	background-color: #000;
	width: 100%;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.brand-make figure > img{
	float: right;
	width: 70%;
}

.brand-make figcaption{
	width: 30%;
	height: 50%;
	position: absolute;
	top: 50%;
	margin-top: -8%;
}

.brand-make figcaption img{
	max-height: 100%;
}

.brand-make figcaption span{
	display: block;
	font-size: 13px;
}

.brand-make-select > section{
	width: 50%;
	float: left;
	padding: 0 1%;
	margin-bottom: 40px;
}

.brand-make-select > section h4{
	margin-bottom: 5px;
}

.filter-products a{
	margin-bottom: 5px;
	display: block;
	background-color: #000;
	padding: 5px 10px;
	color: #ccc;
	position: relative;
	opacity: .5;
}

.filter-products a.checked:before,
.no-touch .filter-products a:hover:before,
.no-js .filter-products a:hover:before{
	position: absolute;
	right: 10px;
	top: 10px;
	background: url("images/general/icon-tick-black.png") no-repeat right top #a0090b;
	content: "";
	background-size: 16px 16px;
	width: 18px;
	height: 18px;
	border-radius: 50% 50%;
	-webkit-transition: all 0.12s ease-in-out 0s;
	-moz-transition: all 0.12s ease-in-out 0s;
	transition: all 0.12s ease-in-out 0s;
}

.filter-products a.checked:hover:before{
	background-image: url("images/general/icon-cross-black.png");
	background-color: #ccc;
	background-position: center center;
}

.no-touch .filter-products a:hover,
.no-js .filter-products a:hover,
.filter-products a.checked{
	opacity: 1;
}

.filter-products a span{
	background-size: 16px 16px;
	padding-left: 24px;
}

.product-list-container{
	margin-bottom: 20px;
}

.side-box .dropdown-container{
	margin-bottom: 5px;
}

.side-box .dropdown-container a{
	padding: 5px 10px;
}

.side-box .dropdown-container img,
.side-box .dropdown-container *[class *="icon-"]{
	background-size: 16px 16px;
	max-width: 16px;
	max-height: 16px;
	display: inline;
}

.side-box .dropdown-container img{
	margin-right: 10px;
}

.side-box .dropdown-container *[class *="icon-"]{
	padding-left: 26px;
}

.side-box *[class *="btn"]{
	display: block;
	text-align: center;
	margin-top: 20px;
}