/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {


    *[class *="btn"]:hover{
        background-color: #fff;
        color: #a0090b;
    }

    .btn-more:hover{
        background-position: right -28px;
    }

    .header-container{
        height: initial;
        opacity: 0.95;
        width: 100%;
        z-index: 100;
    }
    .header-container hgroup{
        position: initial;
        left: initial;
        top: initial;
        width: 250px;
        margin: 0;
        float: left;
    }

    .inner-page .header-container .logo{
        display: block;
    }
    .header-container hgroup h1,
    .header-container hgroup h2{
        display: none;
    }

    .mobile-header-anchors{display: none;}
    .header-container .logo img{ height: 60px;}

    .header-container header > aside{
        float: right;
        text-align: right;
        display: block;
    }
    .header-container .top-section{ margin-bottom: 10px;}
    .header-container .top-section > *{
        display: inline-block;
    }
    .header-container .top-section > span{
        padding-right: 5px;
        font-size: 18px;
    }

    .header-container .top-section small{
        font-size: 13px;
    }

    .header-container .social-links a{
        background-size: 16px 16px;
        padding-left: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 3px;
    }

    .header-container .social-links a:hover{
        opacity: 0.5;
    }

    .main-nav li{
        float: left;
        margin-left: 20px;
    }

    .main-nav a{
        color: #ccc;
        text-transform: uppercase;
    }

    .main-nav a:hover,
    .main-nav a.active{
        color: #fff;
        border-bottom: 2px solid #a0090b;
        padding-bottom: 5px;
    }

    .main-nav a.icon-home{
        background-size: 24px 24px;
        background-position: center top;
        display: block;
        height: 29px;
        padding-bottom: 5px;
    }

    .slide-details-anchor{display: none;}
    .slide-details{
        display: block;
        width: 400px;
    }
    .slide-details p{font-size: 14px}
    .slide-details .btn-more{margin-top: 15px}

    .banner-wrapper{
        margin-bottom: 0;
    }
    .main > header{
        position: relative;
        width: 100%;
        display: inline-block;
        padding: 30px 0;
    }

    .main > header:before{
        border-top: 1px solid #444;
        height: 1px;
        width: 100%;
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
    }

    .main > header > *{
        background: url("images/general/bg.png") repeat left top;
        position: relative;
        z-index: 1;
    }

    .main > header h2{
        padding-right: 20px;
        float: left;
        margin: 0;
    }

    .main > header .breadcrumb{
        padding-left: 10px;
        float: right;
        font-size: 13px;
        color: #888;
    }

    .main > header .breadcrumb a{
        color: #fff;
    }


    .dct-box header{
        text-align: left;
        display: inline-block;
        width: 100%;
    }
    .dct-box header h2{ float: left;}
    .dct-box header a{
        float: right;
        margin-top: 20px;
        display: block;
    }


    .product-list h4 {
        text-align: left;
        font-size: 13px;
    }

    .footer-links{ display: block;}
    .address-box .social-links{display: none;}
    .address-box .contact-links a span {
        background-size: 24px 24px;
        padding: 5px 10px 5px 30px;
    }
    .copyright .right{float: right;}
    .copyright .left{float: left;}

    .testimonial-list > div{padding-top: 0;}
    .testimonial-list section{
        text-align: left;
        position: relative;
        top: initial;
        margin-bottom: initial;
        padding-left: 70px;
    }

    .testimonial-list .even-box section{
        padding-right: 70px;
        padding-left: 0;
    }

    .testimonial-list figure{
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -60px;
        width: 120px;
        height: 120px;
        z-index: 10;
    }

    .testimonial-list .even-box figure{
        left: initial;
        right: 0;
    }

    .testimonial-list aside {
        position: relative;
        top: initial;
        padding: 20px 20px 20px 75px;
        height: 200px;
    }

    .testimonial-list .even-box aside {
        padding: 20px 75px 20px 20px;
    }

    .testimonial-list time {
        display: inline;
        margin-left: 15px;
    }

    /* ====================
        Products Page
    ====================*/
   .cat-row{
        text-align: left;
    }

    .cat-row > a{
        padding-left: 0;
    }

    .cat-row aside > header h2{
        display: inline;
        float: left;
        margin: 0;
        font-size: 20px;
    }

    .cat-row aside > header a{
        display: block;
        float: right;
        margin-top: 10px;
    }

    .cat-row aside > footer a{
        display: none;
    }

    .thumbs-list{display: block;}
    .thumbs-list li{
        float: left;
        width: 24%;
        margin-right: 1%;
        text-align: center;
    }

    .thumbs-list a{
        display: inline-block;
        position: relative;
    }

    .thumbs-list img{
        width: 100%;
    }

    .thumbs-list a:before{
        opacity: 0;
        position: absolute;
        content: "";
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("images/general/icon-plus.png") no-repeat center center rgba(0,0,0,.9);
        -webkit-transition: all 0.12s ease-in-out 0s;
        -moz-transition: all 0.12s ease-in-out 0s;
        transition: all 0.12s ease-in-out 0s;
    }

    .thumbs-list a:hover:before{
        opacity: 1;
    }


}

@media only screen and (min-width: 992px) {
	.footer-links section{float: left;}
    .address-box address,
    .address-box .contact-links a{font-size: 12px;}

    /* ====================
        Products Page
    ====================*/
    .cat-row aside > header{
        margin: 0;
    }
}

@media only screen and (min-width: 1200px) {
	.wrapper{
		width: 1170px;
		margin: 0 auto;
	}
}