<div class="main-container">
            <div class="banner-wrapper">
                <img src="style/images/faq/bnr-faq.jpg" alt="">
            </div>
            <div class="dct-content wrapper clearfix">
                <header class="line-title">
                    <h2><b>Frequently</b> Asked Questions</h2>
                    <div class="breadcrumb">
                        <a href="#">Home</a> &raquo;
                        <span>FAQ</span>
                    </div>
                </header>
                 <div class="about-container clearfix">
                    <div class="about-content col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis enim est, eu venenatis enim viverra pretium. Aliquam erat volutpat. Nullam a velit elementum, sagittis leo sit amet, laoreet lacus. Nullam sagittis facilisis tortor, vitae malesuada dolor bibendum in. In rutrum elementum egestas. Maecenas euismod massa facilisis libero pharetra, at sagittis dui iaculis. Mauris egestas lobortis metus. Donec quis nulla scelerisque, suscipit eros quis, vestibulum lectus.</p>
                        <p>Morbi et metus pulvinar, posuere risus nec, vestibulum metus. Sed luctus et orci a elementum. Morbi non elit a nunc molestie vestibulum quis sed nisi. Aliquam ornare leo vel tortor fringilla consectetur. Nullam magna nisi, lacinia quis interdum a, posuere at elit. Integer elit lacus, mollis in nibh vitae, imperdiet blandit libero. Sed vel dapibus quam. Sed nec nulla in purus suscipit ultricies. Aliquam gravida, sem nec ornare consectetur, ante tellus tempus libero, dictum pretium eros diam in quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Cras laoreet, arcu in pharetra auctor, nunc ligula facilisis leo, vel pulvinar leo metus ac metus. Etiam congue tincidunt tempus. Fusce mattis volutpat pulvinar. Sed odio sem, malesuada eget sem sed, pulvinar lobortis enim.</p>
                    </div>
                    <div class="about-video-frame col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <section>
                            <iframe width="550" height="315" src="//www.youtube.com/embed/f7Chz9-S2LE" frameborder="0" allowfullscreen></iframe>
                        </section>
                        <footer>
                            <a href="#">Watch us on <img src="style/images/general/icon-youtube-medium.png" alt="DCT Youtube"></a>
                        </footer>
                    </div>
                </div><!-- /about-container -->
                <div class="dct-box product-box clearfix">
                    <header>
                       <h2><b>Our</b> Products</h2>
                       <a href="#" class="btn-more"><span>Read More</span></a>
                    </header>
                    <div class="products-cat-list">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cat-steeringwheels" data-href="#">
                            <section class="image-frame">
                                <figure>
                                    <img src="style/images/homepage/cat-steeringwheels.jpg" alt="Steering Wheel" />
                                    <figcaption><span class="icon-swheels">Steering Wheel</span></figcaption>
                                </figure>
                                <div class="overlay-box">
                                    <span class="icon-swheels"></span>
                                    <h4>Steering Wheel</h4>
                                    <p>Upgrade your vehicle. With great prices on thousands of high-quality auto accessories, DCT Sports makes it easy to shop for SUV, truck and car accessories online.</p>
                                    <a href="#" class="btn-more"><span>Read More</span></a>
                                </div>
                            </section>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cat-interioraccessories" data-href="#">
                            <section class="image-frame">
                                <figure>
                                    <img src="style/images/homepage/cat-interioraccessories.jpg" alt="Interior Accessories" />
                                    <figcaption><span class="icon-iaccessories">Interior Accessories</span></figcaption>
                                </figure>
                                <div class="overlay-box">
                                    <span class="icon-iaccessories"></span>
                                    <h4>Interior Accessories</h4>
                                    <p>Upgrade your vehicle. With great prices on thousands of high-quality auto accessories, DCT Sports makes it easy to shop for SUV, truck and car accessories online.</p>
                                    <a href="#" class="btn-more"><span>Read More</span></a>
                                </div>
                            </section>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cat-exteriorkits" data-href="#">
                            <section class="image-frame">
                                <figure>
                                    <img src="style/images/homepage/cat-exteriorkits.jpg" alt="Exterior Kits" />
                                    <figcaption><span class="icon-ekits">Exterior Kits</span></figcaption>
                                </figure>
                                <div class="overlay-box">
                                    <span class="icon-ekits"></span>
                                    <h4>Exterior Kits</h4>
                                    <p>Upgrade your vehicle. With great prices on thousands of high-quality auto accessories, DCT Sports makes it easy to shop for SUV, truck and car accessories online.</p>
                                    <a href="#" class="btn-more"><span>Read More</span></a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div><!-- /product-box -->
            </div> <!-- /dct-content-->
        </div> <!-- /main-container -->