<div class="main-container">
            <div class="banner-wrapper">
                <img src="style/images/contact/bnr-contact.jpg" alt="">
            </div>
            <div class="dct-content wrapper clearfix">
                <header class="line-title">
                    <h2><b>Contact</b></h2>
                    <div class="breadcrumb">
                        <a href="#">Home</a> &raquo;
                        <span>Contact</span>
                    </div>
                </header>
                <div class="hour-box clearfix">
                    <i class="fig-hour"></i>
                    <ul>
                        <li class="mon-fri">
                            <div class="hour-tooltip">
                                <span>11:00AM - 6:00PM</span>
                            </div>
                            <label class="align-left">Mon</label>
                            <label>Fri</label>
                        </li>
                        <li class="fri-sat">
                            <div class="hour-tooltip">
                                <span>1:00PM - 5:00PM</span>
                            </div>
                            <label>Sat</label>
                        </li>
                        <li class="sat-sun">
                            <div class="hour-tooltip">
                                <span>Closed</span>
                            </div>
                            <label>Sat</label>
                        </li>
                    </ul>
                </div><!-- /hour-box -->
                 <div class="form-container col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <form class="contact-form" action="" method="">
                        <div>
                            <label>Full Name</label>
                            <input type="text">
                        </div>
                        <div>
                            <label>Phone Number</label>
                            <input type="text">
                        </div>
                        <div>
                            <label>Email</label>
                            <input type="email">
                        </div>
                        <div>
                            <label>Where did you hear about us?</label>
                            <div class="dropdown-container js-dropdown-container lg-screen">
                                <a href="javascript:void(0)">Select One</a>
                                <ul>
                                    <li><a href="#">Google</a></li>
                                    <li><a href="#">Bing</a></li>
                                    <li><a href="#">Friends</a></li>
                                    <li><a href="#">Advertising</a></li>
                                </ul>
                            </div>
                            <select class="default-dropdown sm-screen">
                                <option selected="selected">Select One</option>
                                <option>Google</option>
                                <option>Bing</option>
                                <option>Friends</option>
                                <option>Advertising</option>
                            </select>
                        </div>
                        <div>
                            <label>Subject</label>
                            <div class="dropdown-container js-dropdown-container lg-screen">
                                <a href="javascript:void(0)">Select One</a>
                                <ul>
                                    <li><a href="#">Steering Wheel Installation</a></li>
                                    <li><a href="#">Steering Wheels Recycle</a></li>
                                </ul>
                            </div>
                            <select class="default-dropdown sm-screen">
                                <option selected="selected">Select One</option>
                                <option>Steering Wheel Installation</option>
                                <option>Steering Wheels Recycle</option>
                            </select>
                        </div>
                        <div class="btn-container">
                            <a href="#" class="btn-large">Send It</a>
                        </div>
                    </form>
                </div><!-- /contact-form -->
                <div class="map-container col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="google-map"><img src="style/images/contact/dct-map.jpg" alt="DCT Map"></div>
                    <div class="address-container">
                        <address>500 Laurelwood RD. Ste 16, Santa Clara, CA 95054</address>
                        <nav class="contact-links">
                            <a href="mailto:sales@dctms.com" class="icon-email">sales@dctms.com</a>
                            <a href="tel:408-802-4500" class="icon-tel">+1 (408) 802 4500</a>
                        </nav>
                        <nav class="social-links">
                            <a href="#" class="icon-facebook"></a>
                            <a href="#" class="icon-twitter"></a>
                            <a href="#" class="icon-youtube"></a>
                            <a href="#" class="icon-instagram"></a>
                        </nav>
                    </div>
                </div><!-- /map-container -->
            </div> <!-- /dct-content-->
        </div> <!-- /main-container -->