<div class="main-container">
            <div class="banner-wrapper">
                <img src="style/images/faq/bnr-faq.jpg" alt="">
            </div>
            <div class="dct-content wrapper clearfix">
                <header class="line-title">
                    <h2><b>Frequently</b> Asked Questions</h2>
                    <div class="breadcrumb">
                        <a href="#">Home</a> &raquo;
                        <span>FAQ</span>
                    </div>
                </header>
                 <div class="faq-container">
                    <ul class="faq-list js-faq-list">
                        <li>
                            <a href="javascript:void(0)">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet leo id libero pellentesque dignissim ut a mi. Duis dignissim, nibh at malesuada commodo, nisi metus pretium quam, id feugiat nisl arcu consectetur est. Nam mattis neque placerat euismod posuere. Etiam dictum hendrerit mi nec commodo. Integer a mauris faucibus nibh ultrices tempus. Proin in dapibus sapien. Sed eleifend eleifend tincidunt. Cras arcu turpis, varius ut suscipit et, posuere vel urna. Integer imperdiet vehicula massa, vel bibendum neque scelerisque sed. Maecenas gravida tortor mauris. Cras auctor mattis lorem, et vehicula nulla lacinia quis. Donec dolor quam, gravida eu malesuada eget, posuere et quam. Vivamus ultricies a tellus ullamcorper fermentum. Aliquam pharetra sem non arcu consequat faucibus eu at erat.</p>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Nunc auctor dui non lacus lacinia laoreet in et ligula?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet leo id libero pellentesque dignissim ut a mi. Duis dignissim, nibh at malesuada commodo, nisi metus pretium quam, id feugiat nisl arcu consectetur est. Nam mattis neque placerat euismod posuere. Etiam dictum hendrerit mi nec commodo. Integer a mauris faucibus nibh ultrices tempus. Proin in dapibus sapien. Sed eleifend eleifend tincidunt. Cras arcu turpis, varius ut suscipit et, posuere vel urna. Integer imperdiet vehicula massa, vel bibendum neque scelerisque sed. Maecenas gravida tortor mauris. Cras auctor mattis lorem, et vehicula nulla lacinia quis. Donec dolor quam, gravida eu malesuada eget, posuere et quam. Vivamus ultricies a tellus ullamcorper fermentum. Aliquam pharetra sem non arcu consequat faucibus eu at erat.</p>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Vivamus vel dolor non risus laoreet commodo ac vitae purus?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet leo id libero pellentesque dignissim ut a mi. Duis dignissim, nibh at malesuada commodo, nisi metus pretium quam, id feugiat nisl arcu consectetur est. Nam mattis neque placerat euismod posuere. Etiam dictum hendrerit mi nec commodo. Integer a mauris faucibus nibh ultrices tempus. Proin in dapibus sapien. Sed eleifend eleifend tincidunt.</p>
                        </li>

                        <li>
                            <a href="javascript:void(0)">Vivamus vel dolor non risus laoreet commodo ac vitae purus?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet leo id libero pellentesque dignissim ut a mi. Duis dignissim, nibh at malesuada commodo, nisi metus pretium quam, id feugiat nisl arcu consectetur est. Nam mattis neque placerat euismod posuere. Etiam dictum hendrerit mi nec commodo. Integer a mauris faucibus nibh ultrices tempus. Proin in dapibus sapien. Sed eleifend eleifend tincidunt.</p>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Vivamus vel dolor non risus laoreet commodo ac vitae purus?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet leo id libero pellentesque dignissim ut a mi. Duis dignissim, nibh at malesuada commodo, nisi metus pretium quam, id feugiat nisl arcu consectetur est. Nam mattis neque placerat euismod posuere. Etiam dictum hendrerit mi nec commodo. Integer a mauris faucibus nibh ultrices tempus. Proin in dapibus sapien. Sed eleifend eleifend tincidunt.</p>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Vivamus vel dolor non risus laoreet commodo ac vitae purus?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet leo id libero pellentesque dignissim ut a mi. Duis dignissim, nibh at malesuada commodo, nisi metus pretium quam, id feugiat nisl arcu consectetur est. Nam mattis neque placerat euismod posuere. Etiam dictum hendrerit mi nec commodo. Integer a mauris faucibus nibh ultrices tempus. Proin in dapibus sapien. Sed eleifend eleifend tincidunt.</p>
                        </li>
                    </ul>
                </div><!-- /faq-container -->
            </div> <!-- /dct-content-->
        </div> <!-- /main-container -->