<div class="main-container">
            <div class="slideshow">
                <nav class="slide-navigator hidden">
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                </nav>
                <div class="loadbar"><span style="width: 46%"></span></div>
                <ul>
                    <li>
                        <a href="#" class="slide-details-anchor"></a>
                        <div class="slide-details">
                            <h3><b>Interior</b> Accessories</h3>
                            <p>You spend a lot of time in your car, make it quality time with our extensive selection of interior auto accessories. </p>
                            <a href="#" class="btn-more"><span>Read More</span></a>
                        </div>
                        <img src="style/images/homepage/slide1.jpg" alt="" width="100%" height="auto">
                    </li>
                </ul>
            </div>
            <div class="dct-content wrapper clearfix">
                <div class="welcome-box clearfix">
                    <h2><b>Welcome</b> to DCT Sports</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu sapien, congue sit amet ullamcorper in, congue quis justo. Nunc id erat nec purus malesuada fringilla. Cras commodo tristique aliquet. Maecenas est enim, malesuada at fermentum vitae, sollicitudin eu metus. Sed at erat at diam laoreet ullamcorper.</p>
                </div><!--/welcome-box -->
                
                <div class="dct-box product-box clearfix">
                    <header>
                       <h2><b>Our</b> Products</h2>
                       <a href="#" class="btn-more"><span>Read More</span></a>
                    </header>
                    <div class="products-cat-list">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cat-steeringwheels" data-href="#">
                            <section class="image-frame">
                                <figure>
                                    <img src="style/images/homepage/cat-steeringwheels.jpg" alt="Steering Wheel" />
                                    <figcaption><span class="icon-steeringwheels">Steering Wheel</span></figcaption>
                                </figure>
                                <div class="overlay-box">
                                    <span class="icon-steeringwheels"></span>
                                    <h4>Steering Wheel</h4>
                                    <p>Upgrade your vehicle. With great prices on thousands of high-quality auto accessories, DCT Sports makes it easy to shop for SUV, truck and car accessories online.</p>
                                    <a href="#" class="btn-more"><span>Read More</span></a>
                                </div>
                            </section>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cat-interioraccessories" data-href="#">
                            <section class="image-frame">
                                <figure>
                                    <img src="style/images/homepage/cat-interioraccessories.jpg" alt="Interior Accessories" />
                                    <figcaption><span class="icon-interioraccessories">Interior Accessories</span></figcaption>
                                </figure>
                                <div class="overlay-box">
                                    <span class="icon-interioraccessories"></span>
                                    <h4>Interior Accessories</h4>
                                    <p>Upgrade your vehicle. With great prices on thousands of high-quality auto accessories, DCT Sports makes it easy to shop for SUV, truck and car accessories online.</p>
                                    <a href="#" class="btn-more"><span>Read More</span></a>
                                </div>
                            </section>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 cat-exteriorkits" data-href="#">
                            <section class="image-frame">
                                <figure>
                                    <img src="style/images/homepage/cat-exteriorkits.jpg" alt="Exterior Kits" />
                                    <figcaption><span class="icon-exteriorkits">Exterior Kits</span></figcaption>
                                </figure>
                                <div class="overlay-box">
                                    <span class="icon-exteriorkits"></span>
                                    <h4>Exterior Kits</h4>
                                    <p>Upgrade your vehicle. With great prices on thousands of high-quality auto accessories, DCT Sports makes it easy to shop for SUV, truck and car accessories online.</p>
                                    <a href="#" class="btn-more"><span>Read More</span></a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div><!-- /product-box -->
                
                <div class="dct-box brand-box clearfix">
                    <header>
                        <h2><b>Choose</b> your Car Brand</h2>
                        <a href="#" class="btn-more"><span>More Brands</span></a>
                    </header>
                    <div class="brand-list js-brand-list">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="style/images/general/logo-mercedes.png" alt="Mercedes Benz" />
                                    <span>Mercedes Benz</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="style/images/general/logo-porsche.png" alt="Porsche" />
                                    <span>Porsche</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="style/images/general/logo-bmw.png" alt="BMW" />
                                    <span>BMW</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="style/images/general/logo-audi.png" alt="Audi" />
                                    <span>Audi</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="style/images/general/logo-volkswagen.png" alt="Volkswagen" />
                                    <span>Volkswagen</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="style/images/general/logo-lexus.png" alt="Lexus" />
                                    <span>Lexus</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="style/images/general/logo-miniminer.png" alt="Mini Miner" />
                                    <span>Mini Miner</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /brand-box -->

                <div class="dct-box latets-products-box clearfix">
                    <header>
                        <h2><b>Latest</b> Products</h2>
                        <a href="#" class="btn-more"><span>More Products</span></a>
                    </header>
                    <div class="product-list">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <section class="image-frame">
                                <span class="product-price">$299.75</span>
                                <figure><img src="style/images/homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                <div class="overlay-box">
                                    <a href="#" class="btn"><span>View Details</span></a>
                                </div>
                            </section>
                            <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <section class="image-frame">
                                <span class="product-price">$299.75</span>
                                <figure><img src="style/images/homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                <div class="overlay-box">
                                    <a href="#" class="btn"><span>View Details</span></a>
                                </div>
                            </section>
                            <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <section class="image-frame">
                                <span class="product-price">$299.75</span>
                                <figure><img src="style/images/homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                <div class="overlay-box">
                                    <a href="#" class="btn"><span>View Details</span></a>
                                </div>
                            </section>
                            <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <section class="image-frame">
                                <span class="product-price">$299.75</span>
                                <figure><img src="style/images/homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                <div class="overlay-box">
                                    <a href="#" class="btn"><span>View Details</span></a>
                                </div>
                            </section>
                            <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                        </div>
                    </div>
                </div><!-- /latets-products-box -->

                <div class="dct-box testimonials-box clearfix">
                    <header>
                        <h2><b>Testimonials</b></h2>
                    </header>
                    <div class="testimonial-list">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <section>
                                <figure><img src="style/images/homepage/pic-mahdi.jpg" alt="Mahdi Pedram" /></figure>
                                <aside>
                                    <header><name>Mahdi Pedram</name><time>October 23, 2013</time></header>
                                    <p>Fusce lacinia lorem ut tristique sollicitudin. Proin non adipiscing lectus. Cras aliquam odio ac purus aliquet, viverra pellentesque mauris scelerisque. Proin dapibus nec ipsum eu cursus. Donec et augue vitae sem convallis bibendum vel et urna. Nulla ut porttitor nisl. Maecenas non erat convallis, tristique velit at, dictum leo. Fusce sed nibh est.</p>
                                </aside>
                            </section>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 even-box">
                            <section>
                                <figure><img src="style/images/homepage/pic-tory.jpg" alt="Mahdi Pedram" /></figure>
                                <aside>
                                    <header><name>Tory Woodward</name><time>October 22, 2013</time></header>
                                    <p>Fusce lacinia lorem ut tristique sollicitudin. Proin non adipiscing lectus. Cras aliquam odio ac purus aliquet, viverra pellentesque mauris scelerisque. Proin dapibus nec ipsum eu cursus. Donec et augue vitae sem convallis bibendum vel et urna. Nulla ut porttitor nisl. Maecenas non erat convallis, tristique velit at, dictum leo. Fusce sed nibh est.</p>
                                </aside>
                            </section>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <section>
                                <figure><img src="style/images/homepage/pic-jiwang.jpg" alt="Mahdi Pedram" /></figure>
                                <aside>
                                    <header><name>Ji Wang</name><time>October 22, 2013</time></header>
                                    <p>Fusce lacinia lorem ut tristique sollicitudin. Proin non adipiscing lectus. Cras aliquam odio ac purus aliquet, viverra pellentesque mauris scelerisque. Proin dapibus nec ipsum eu cursus.</p>
                                </aside>
                            </section>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 even-box">
                            <section>
                                <figure><img src="style/images/homepage/pic-tom.jpg" alt="Mahdi Pedram" /></figure>
                                <aside>
                                    <header><name>Tom Clarkson</name><time>October 19, 2013</time></header>
                                    <p>Fusce lacinia lorem ut tristique sollicitudin. Proin non adipiscing lectus. Cras aliquam odio ac purus aliquet, viverra pellentesque mauris scelerisque. Proin dapibus nec ipsum eu cursus. Donec et augue vitae sem convallis bibendum vel et urna. Nulla ut porttitor nisl. Maecenas non erat convallis, tristique velit at, dictum leo. Fusce sed nibh est.</p>
                                </aside>
                            </section>
                        </div>
                    </div>
                </div><!-- /testimonials-box -->
                    
            </div> <!-- /dct-content-->
        </div> <!-- /main-container -->