<link rel="stylesheet" href="<!--{$stylePath}-->products.css?v=1">
<div class="main-container">
            <div class="banner-wrapper">
                <img src="<!--{$imagePath}-->products/bnr-w203-c-class.jpg" alt="Mercedes W203 C-Class">
                <div class="wrapper">
                    <div class="banner-details">
                        <img src="<!--{$imagePath}-->general/logo-mercedes.png" alt="">
                        <hgroup>
                            <h3><b>Mercedes</b> Benz</h3>
                            <h5>W203 C-Class</h5>
                        </hgroup>
                    </div>
                </div>
            </div>
            <div class="dct-content wrapper clearfix">
                <header class="line-title lg-screen">
                    <h2><b>Search</b> Results</h2>
                    <div class="breadcrumb">
                        <a href="#">Home</a> &raquo;
                        <a href="#">Products</a> &raquo;
                        <span>Mercedes Benz - W203 C-Class</span>
                    </div>
                </header>
                <div class="result-box clearfix">
                    <div class="filter-col col-xs-12 col-sm-12 col-md-3 col-lg-3 lg-screen">
                        <div class="side-box">
                            <header class="line-title">
                                <h5><span class="icon-products">Products</span></h5>
                            </header>
                            <section>
                                <nav class="filter-products">
                                    <a href="javascript:void(0)" class="checked"><span class="icon-swheels">Steering Wheels</span></a>
                                    <a href="javascript:void(0)" class="checked"><span class="icon-iaccessories">Interior Accessories</span></a>
                                    <a href="javascript:void(0)"><span class="icon-ekits">Exterior Kits</span></a>
                                </nav>
                            </section>
                        </div>
                        <div class="side-box">
                            <header class="line-title">
                                <h5><span class="icon-carbrand">Car Brand</span></h5>
                            </header>
                            <section>
                                <div class="dropdown-container js-dropdown-container lg-screen">
                                    <a href="javascript:void(0)"><img src="<!--{$imagePath}-->general/logo-mercedes.png" alt="" />Mercedes Benz</a>
                                    <ul>
                                        <li><a href="#"><img src="<!--{$imagePath}-->general/logo-mercedes.png" alt="" />Mercedes Benz</a></li>
                                        <li><a href="#"><img src="<!--{$imagePath}-->general/logo-porsche.png" alt="" />Porsche</a></li>
                                        <li><a href="#"><img src="<!--{$imagePath}-->general/logo-lexus.png" alt="" />Lexus</a></li>
                                        <li><a href="#"><img src="<!--{$imagePath}-->general/logo-audi.png" alt="" />Audi</a></li>
                                    </ul>
                                </div>
                                <select class="default-dropdown sm-screen">
                                    <option selected="selected"><img src="<!--{$imagePath}-->general/logo-mercedes.png" alt="" />Mercedes Benz</option>
                                    <option><img src="<!--{$imagePath}-->general/logo-porsche.png" alt="" />Porsche</option>
                                    <option><img src="<!--{$imagePath}-->general/logo-lexus.png" alt="" />Lexus</option>
                                    <option><img src="<!--{$imagePath}-->general/logo-audi.png" alt="" />Audi</option>
                                </select>

                                <div class="dropdown-container js-dropdown-container lg-screen">
                                    <a href="javascript:void(0)"><span class="icon-key">W203 C-Class</span></a>
                                    <ul>
                                        <li><a href="#">W203 C-Class</a></li>
                                        <li><a href="#">W204 C-Class</a></li>
                                        <li><a href="#">W209 CLK</a></li>
                                        <li><a href="#">W210 E-Class</a></li>
                                        <li><a href="#">W211 E-Class (Hot)</a></li>
                                        <li><a href="#">R170 SLK</a></li>
                                        <li><a href="#">W220 S-Class</a></li>
                                        <li><a href="#">W221 S-Class</a></li>
                                        <li><a href="#">R171 SLK</a></li>
                                        <li><a href="#">W219 CLS</a></li>
                                        <li><a href="#">W216 CL-Class</a></li>
                                        <li><a href="#">R230 SL-Class (new)</a></li>
                                        <li><a href="#">W164 ML-Class</a></li>
                                        <li><a href="#">W215 CL-Class</a></li>
                                    </ul>
                                </div>
                                <select class="default-dropdown sm-screen">
                                    <option selected>Select one</option>
                                    <option>W203 C-Class</option>
                                    <option>W204 C-Class</option>
                                    <option>W209 CLK</option>
                                    <option>W210 E-Class</option>
                                    <option>W211 E-Class (Hot)</option>
                                    <option>R170 SLK</option>
                                    <option>W220 S-Class</option>
                                    <option>W221 S-Class</option>
                                    <option>R171 SLK</option>
                                    <option>W219 CLS</option>
                                    <option>W216 CL-Class</option>
                                    <option>R230 SL-Class (new)</option>
                                    <option>W164 ML-Class</option>
                                    <option>W215 CL-Class</option>
                                </select>
                            </section>

                            <div class="dropdown-container js-dropdown-container right-aligned lg-screen">
                                <a href="javascript:void(0)"><span class="icon-calendar">2010</span></a>
                                <ul>
                                    <li><a href="#">2008</a></li>
                                    <li><a href="#">2009</a></li>
                                    <li><a href="#">2010</a></li>
                                    <li><a href="#">2011</a></li>
                                    <li><a href="#">2012</a></li>
                                    <li><a href="#">2013</a></li>
                                </ul>
                            </div>
                            <select class="default-dropdown sm-screen">
                                <option selected="selected">Select one</option>
                                <option>2009</option>
                                <option>2008</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                            </select>

                            <a href="#" class="btn"><span>Search</span></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="product-list-container">
                            <div class="line-title">
                                <h3><span class="icon-steeringwheels"><b>Steering</b> Wheels</span></h3>
                                <div class="btn-container"><a href="#" class="btn-more"><span>See More</span></a></div>
                            </div>
                            <div class="product-list">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                            </div><!-- /product-list -->
                        </div><!-- /product-list-container -->
                        <div class="product-list-container">
                            <div class="line-title">
                                <h3><span class="icon-interioraccessories"><b>Interior</b> Accessories</span></h3>
                                <div class="btn-container"><a href="#" class="btn-more"><span>See More</span></a></div>
                            </div>
                            <div class="product-list">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <section class="image-frame">
                                        <span class="product-price">$299.75</span>
                                        <figure><img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" /></figure>
                                        <div class="overlay-box">
                                            <a href="#" class="btn"><span>View Details</span></a>
                                        </div>
                                    </section>
                                    <h4>Nissan R35 GT-R GTR Real carbon steering wheel center trim</h4>
                                </div>
                            </div><!-- /product-list -->
                        </div><!-- /product-list-container -->
                    </div>
                </div><!-- /product-box -->
                    
            </div> <!-- /dct-content-->
        </div> <!-- /main-container -->