<div class="main-container">
            <div class="banner-wrapper">
                <img src="<!--{$imagePath}-->products/bnr-products.jpg" alt="">
            </div>
            <div class="dct-content wrapper clearfix">
                <header class="line-title">
                    <h2><b>Products</b></h2>
                    <div class="breadcrumb">
                        <a href="#">Home</a> &raquo;
                        <span>Products</span>
                    </div>
                </header>
                <div class="product-box clearfix">
                    <div class="product-choose-brand">
                        <div class="cat-list-col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <h3><b>1. Selected</b> Products</h3>
                            <ul class="selected-cats-list">
                                <li>
                                    <a href="#">
                                        <div class="dct-checkbox checked"><span></span></div>
                                        <figure>
                                            <img src="<!--{$imagePath}-->homepage/cat-steeringwheels.jpg" alt="Steering Wheel" />
                                        </figure>
                                        <h4><b>Steering</b> Wheels</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="dct-checkbox checked"><span></span></div>
                                        <figure>
                                            <img src="<!--{$imagePath}-->homepage/cat-interioraccessories.jpg" alt="Interior Accessories" />
                                        </figure>
                                        <h4><b>Interior</b> Accessories</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="dct-checkbox checked"><span></span></div>
                                        <figure>
                                            <img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" />
                                        </figure>
                                        <h4><b>Exterior</b> Kits</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                            <h3><b>2. Choose</b> your brand</h3>
                            <div class="brand-list js-brand-list hidden">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-mercedes.png" alt="Mercedes Benz" />
                                            <span>Mercedes Benz</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-porsche.png" alt="Porsche" />
                                            <span>Porsche</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-bmw.png" alt="BMW" />
                                            <span>BMW</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-audi.png" alt="Audi" />
                                            <span>Audi</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-volkswagen.png" alt="Volkswagen" />
                                            <span>Volkswagen</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-mercedes.png" alt="Mercedes Benz" />
                                            <span>Mercedes Benz</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-porsche.png" alt="Porsche" />
                                            <span>Porsche</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-bmw.png" alt="BMW" />
                                            <span>BMW</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-audi.png" alt="Audi" />
                                            <span>Audi</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-volkswagen.png" alt="Volkswagen" />
                                            <span>Volkswagen</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-lexus.png" alt="Lexus" />
                                            <span>Lexus</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-miniminer.png" alt="Mini Miner" />
                                            <span>Mini Miner</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-lexus.png" alt="Lexus" />
                                            <span>Lexus</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-miniminer.png" alt="Mini Miner" />
                                            <span>Mini Miner</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-mercedes.png" alt="Mercedes Benz" />
                                            <span>Mercedes Benz</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-porsche.png" alt="Porsche" />
                                            <span>Porsche</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-bmw.png" alt="BMW" />
                                            <span>BMW</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-audi.png" alt="Audi" />
                                            <span>Audi</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-volkswagen.png" alt="Volkswagen" />
                                            <span>Volkswagen</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="<!--{$imagePath}-->general/logo-lexus.png" alt="Lexus" />
                                            <span>Lexus</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="brand-make">
                                <figure>
                                    <img src="<!--{$imagePath}-->products/bnr-mercedes.jpg" alt="" />
                                    <figcaption>
                                        <img src="<!--{$imagePath}-->general/logo-mercedes.png" alt="Lexus" />
                                        <span>Mercedes Benz</span>
                                    </figcaption>
                                </figure>
                                <div class="brand-make-select">
                                    <section>
                                        <h4><b>Car</b> Model</h4>
                                        <div class="dropdown-container js-dropdown-container lg-screen">
                                            <a href="javascript:void(0)">W203 C-Class</a>
                                            <ul>
                                                <li><a href="#">W203 C-Class</a></li>
                                                <li><a href="#">W204 C-Class</a></li>
                                                <li><a href="#">W209 CLK</a></li>
                                                <li><a href="#">W210 E-Class</a></li>
                                                <li><a href="#">W211 E-Class (Hot)</a></li>
                                                <li><a href="#">R170 SLK</a></li>
                                                <li><a href="#">W220 S-Class</a></li>
                                                <li><a href="#">W221 S-Class</a></li>
                                                <li><a href="#">R171 SLK</a></li>
                                                <li><a href="#">W219 CLS</a></li>
                                                <li><a href="#">W216 CL-Class</a></li>
                                                <li><a href="#">R230 SL-Class (new)</a></li>
                                                <li><a href="#">W164 ML-Class</a></li>
                                                <li><a href="#">W215 CL-Class</a></li>
                                            </ul>
                                        </div>
                                        <select class="default-dropdown sm-screen">
                                            <option selected>Select one</option>
                                            <option>W203 C-Class</option>
                                            <option>W204 C-Class</option>
                                            <option>W209 CLK</option>
                                            <option>W210 E-Class</option>
                                            <option>W211 E-Class (Hot)</option>
                                            <option>R170 SLK</option>
                                            <option>W220 S-Class</option>
                                            <option>W221 S-Class</option>
                                            <option>R171 SLK</option>
                                            <option>W219 CLS</option>
                                            <option>W216 CL-Class</option>
                                            <option>R230 SL-Class (new)</option>
                                            <option>W164 ML-Class</option>
                                            <option>W215 CL-Class</option>
                                        </select>
                                    </section>
                                    <section>
                                        <h4><b>Car</b> Year</h4>
                                        <div class="dropdown-container js-dropdown-container right-aligned lg-screen">
                                            <a href="javascript:void(0)">2010</a>
                                            <ul>
                                                <li><a href="#">W203 C-Class</a></li>
                                                <li><a href="#">W204 C-Class</a></li>
                                                <li><a href="#">W209 CLK</a></li>
                                                <li><a href="#">W210 E-Class</a></li>
                                                <li><a href="#">W211 E-Class (Hot)</a></li>
                                                <li><a href="#">R170 SLK</a></li>
                                                <li><a href="#">W220 S-Class</a></li>
                                            </ul>
                                        </div>
                                        <select class="default-dropdown sm-screen">
                                            <option selected>Select one</option>
                                            <option>2009</option>
                                            <option>2008</option>
                                            <option>2010</option>
                                            <option>2011</option>
                                            <option>2012</option>
                                            <option>2013</option>
                                        </select>
                                    </section>
                                    <a href="#" class="btn-large"><span>Search Products</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /product-box -->
                    
            </div> <!-- /dct-content-->
        </div> <!-- /main-container -->