<div class="main-container">
            <div class="dct-content wrapper clearfix">
                <header class="line-title">
                    <h2><b>Products</b></h2>
                    <div class="breadcrumb">
                        <a href="#">Home</a> &raquo;
                        <a href="#">Products</a> &raquo;
                        <span>Nissan R35 GT-R flat top Racing Steering Wheel</span>
                    </div>
                </header>
                 <div class="product-details-container">
                    <hgroup>
                        <h3>Nissan R35 GT-R flat top Racing Steering Wheel ST110T010</h3>
                        <h5>2013 Nissan GT-R</h5>
                    </hgroup>
                    <div class="product-pics col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <figure>
                            <a href="#">
                                <img src="<!--{$imagePath}-->products/gallery/pic-st-01.jpg" alt="">
                            </a>
                        </figure>
                        <div class="pic-list-container">
                            <ul class="pic-list">
                                <li>
                                    <a href="<!--{$imagePath}-->products/gallery/pic-st-01.jpg">
                                        <img src="<!--{$imagePath}-->products/gallery/pic-st-01_.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="<!--{$imagePath}-->products/gallery/pic-st-03.jpg">
                                        <img src="<!--{$imagePath}-->products/gallery/pic-st-03_.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="<!--{$imagePath}-->products/gallery/pic-st-04.jpg">
                                        <img src="<!--{$imagePath}-->products/gallery/pic-st-04_.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="<!--{$imagePath}-->products/gallery/pic-st-05.jpg">
                                        <img src="<!--{$imagePath}-->products/gallery/pic-st-05_.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="<!--{$imagePath}-->products/gallery/pic-st-06.jpg">
                                        <img src="<!--{$imagePath}-->products/gallery/pic-st-06_.jpg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-details col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <header>
                            <div>
                                <div class="product-id">Item Number: <b>15585889</b></div>
                                <nav>
                                    <a href="#" class="icon-fb-colored"></a>
                                    <a href="#" class="icon-tw-colored"></a>
                                    <a href="#" class="icon-gplus-colored"></a>
                                </nav>
                            </div>
                            <div>
                                <a href="#" class="btn-order">
                                    <b>$1199</b>
                                    <span>Order it</span>
                                </a>
                            </div>
                        </header>
                        <section>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a dignissim orci, in mattis tellus. Proin at nibh eu metus porta molestie vel a purus. Pellentesque at eros et erat egestas facilisis. Vivamus mattis tellus vitae enim pulvinar, sed eleifend arcu interdum. Fusce felis leo, aliquet id neque ac, imperdiet tristique ipsum. Fusce magna est, vulputate eget massa non, pretium molestie nisi. Etiam tempor sit amet odio in rutrum. Pellentesque nibh dui, tempor id lobortis id, vehicula ac lacus.</p>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque rutrum adipiscing nunc, suscipit fermentum ipsum euismod sit amet. Vivamus diam nisl, luctus vel libero vitae, egestas iaculis sapien. Vivamus ultricies risus velit, viverra scelerisque enim feugiat vitae.</p>
                            <ul class="dct-list">
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                <li>Aliquam ac nunc at lectus blandit posuere sodales viverra quam.</li>
                                <li>Pellentesque mattis elit facilisis nisi lacinia vulputate.</li>
                                <li>Phasellus fermentum leo ultrices mauris ornare luctus.</li>
                                <li>Phasellus vel dolor congue, condimentum nisi quis, pharetra eros.</li>
                            </ul>
                        </section>
                    </div>
                </div><!-- /product-details-container -->
            </div> <!-- /dct-content-->
        </div> <!-- /main-container -->