<div class="main-container">
            <div class="banner-wrapper">
                <img src="<!--{$imagePath}-->products/bnr-products.jpg" alt="">
            </div>
            <div class="dct-content wrapper clearfix">
                <header class="line-title">
                    <h2><b>Products</b></h2>
                    <div class="breadcrumb">
                        <a href="<!--{$SiteData.urls.site.homepage}-->">Home</a> &raquo;
                        <span>Products</span>
                    </div>
                </header>
                <div class="product-box clearfix">
                    <div class="products-cat-list">
                        <div class="cat-row" id="steering-wheels">
                            <a href="#" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <figure class="image-frame">
                                    <img src="<!--{$imagePath}-->homepage/cat-steeringwheels.jpg" alt="Steering Wheel" />
                                </figure>
                            </a>
                            <aside class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <header>
                                    <h2 class="icon-steeringwheels"><b>Steering</b> Wheels</h2>
                                    <a href="#" class="btn-more"><span>Continue</span></a>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur suscipit augue a malesuada. Nullam vehicula mauris sed tempor tristique. Curabitur in justo vel est volutpat fermentum eleifend et dolor. Mauris venenatis felis vel diam lobortis hendrerit.</p>
                                <ul class="thumbs-list">
                                    <li>
                                        <a href="#" class="image-frame"><img src="<!--{$imagePath}-->products/pic-steering-01.jpg" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#" class="image-frame"><img src="<!--{$imagePath}-->products/pic-steering-02.jpg" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#" class="image-frame"><img src="<!--{$imagePath}-->products/pic-steering-03.jpg" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#" class="image-frame"><img src="<!--{$imagePath}-->products/pic-steering-04.jpg" alt="" /></a>
                                    </li>
                                </ul>
                                <footer><a href="#" class="btn-more"><span>Continue</span></a></footer>
                            </aside>
                        </div>
                        <div class="cat-row" id="interior-accessories">
                            <a href="#" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <figure class="image-frame">
                                    <img src="<!--{$imagePath}-->homepage/cat-interioraccessories.jpg" alt="Interior Accessories" />
                                </figure>
                            </a>
                            <aside class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <header>
                                    <h2 class="icon-interioraccessories"><b>Interior</b> Accessories</h2>
                                    <a href="#" class="btn-more"><span>Continue</span></a>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur suscipit augue a malesuada. Nullam vehicula mauris sed tempor tristique. Curabitur in justo vel est volutpat fermentum eleifend et dolor. Mauris venenatis felis vel diam lobortis hendrerit.</p>
                                <ul class="thumbs-list">
                                    <li>
                                        <a href="#" class="image-frame"><img src="<!--{$imagePath}-->products/pic-steering-01.jpg" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#" class="image-frame"><img src="<!--{$imagePath}-->products/pic-steering-02.jpg" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#" class="image-frame"><img src="<!--{$imagePath}-->products/pic-steering-03.jpg" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#" class="image-frame"><img src="<!--{$imagePath}-->products/pic-steering-04.jpg" alt="" /></a>
                                    </li>
                                </ul>
                                <footer><a href="#" class="btn-more"><span>Continue</span></a></footer>
                            </aside>
                        </div>
                        <div class="cat-row" id="exterior-kits">
                            <a href="#" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <figure class="image-frame">
                                    <img src="<!--{$imagePath}-->homepage/cat-exteriorkits.jpg" alt="Exterior Kits" />
                                </figure>
                            </a>
                            <aside class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <header>
                                    <h2 class="icon-exteriorkits"><b>Exterior</b> Kits</h2>
                                    <a href="#" class="btn-more"><span>Continue</span></a>
                                </header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consectetur suscipit augue a malesuada. Nullam vehicula mauris sed tempor tristique. Curabitur in justo vel est volutpat fermentum eleifend et dolor. Mauris venenatis felis vel diam lobortis hendrerit.</p>
                                <ul class="thumbs-list">
                                    <li>
                                        <a href="#" class="image-frame"><img src="<!--{$imagePath}-->products/pic-steering-01.jpg" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#" class="image-frame"><img src="<!--{$imagePath}-->products/pic-steering-02.jpg" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#" class="image-frame"><img src="<!--{$imagePath}-->products/pic-steering-03.jpg" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#" class="image-frame"><img src="<!--{$imagePath}-->products/pic-steering-04.jpg" alt="" /></a>
                                    </li>
                                </ul>
                                <footer><a href="#" class="btn-more"><span>Continue</span></a></footer>
                            </aside>
                        </div>
                    </div>
                </div><!-- /product-box -->
                    
            </div> <!-- /dct-content-->
        </div> <!-- /main-container -->